<!-- Footer --> 
<div class="row footer">

<div class="col align-self-left text-left pl-4">
  <span>Webmaster: <a href="mailto:mkornyev@gmail.com">Max Kornyev&nbsp;&copy; 2019</a>&nbsp;|&nbsp;</span>
  <span><a><%= link_to 'Home', home_path %></a></span>
  <div class="social">
	  <span><a><%= link_to 'About', about_path %></a></span>&nbsp;|
	  <span><a><%= link_to 'Contact Us', contact_path %></a></span>&nbsp;|
	  <span><a><%= link_to 'Privacy Policy', privacy_path %></a></span>
  </div>
</div>

</div>