<!-- NavBar --> 
<div class="row navbar">
<div class="col align-self-left text-left pl-4">
  <!-- Logo -->
  <a href="home"><img src="assets/main/logo.png"></a>

  <!-- Links -->
    <a class="nav-link underline_effect" href="items">Baked Goods</a>

    <!-- Login -->
    <div>
      <!-- <li><%= link_to 'Login', login_path %></li> -->
      <li class="underline_effect">Log In</li>
    </div>
</div>
</div>