<!-- NavBar --> 
<div class="row navbar">
<div class="col align-self-left text-left pl-4">
  <!-- Logo -->
  <%= link_to image_tag("logo.png"), :controller => 'home', :action => 'home' %>

  <!-- Links -->
    <%= link_to 'Baked Goods', items_path, class: 'nav-link underline_effect' %>
    
    <div class="cart" style="text-align: center;">
      <li class="underline_effect" style="font-size: .8em; text-align: center;">
        <%= link_to 'Sign Up', new_customer_path %>
      </li>
    </div>

    <!-- Login -->
    <div class="login" style="text-align: center; text-align: center;">
      <li class="underline_effect" style="font-size: .8em;"><%= link_to 'Log In', login_path %>
      </li>
    </div>
</div>
</div>
