<!-- NavBar --> 
<div class="row navbar">
<div class="col align-self-left text-left pl-4">
  <!-- Logo -->
  <%= link_to image_tag("logo.png"), :controller => 'home', :action => 'home' %>

  <!-- Links -->
    <a class="nav-link underline_effect" href="http://localhost:3000/items">Items</a>
    <%= link_to 'Baking List', baking_path, class: "nav-link underline_effect" %>

    <!-- Logout -->
    <div style="padding-left: 6px;">
      <li style="font-size: .8em;" class="underline_effect"><%= link_to "Log Out", "http://localhost:3000/sessions/destroy" %></li>
    </div>
</div>
</div>
