<div class="row">
  <div class="col" style="margin: 5%;">
    <fieldset class="border mx-4 pl-3 mb-3">
        <legend  class="w-auto">About A &amp; M Bread Express</legend><br>
        <p>
        	The A & M Baking factory is a sample ecommerce business owned by Alex & Mark Heimann, with their Web Application designed by Max Kornyev.<br>
            Their only business goal is to provide the freshest bread to their loyal customers.<br><br>
            Why are you still here? Check out the <a href="items">bread.</a>
        </p>
  </div>
</div>