<div class="row">
	<div class="col" style="margin: 5%;">


		<fieldset class="border mx-4 pl-3 mb-3">
   			<legend  class="w-auto">Contact the Baking Factory</legend><br>
			<table cellpadding="3">
				<tr>
					<td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
					<td>Maksym Kornyev</td>
				</tr>
				<tr>
					<td>Email:</td>
					<td>
					<%= mail_to("mkornyev@gmail.com", "mkornyev@gmail.com", :encode => "javascript") %> 
					</td>
				</tr>
				<tr>
					<td>Phone:</td>
					<td>315-296-5003</td>
				</tr>
			</table>	
		</fieldset>

		<p class="note"><br>*This WebApp is built using the Rails framework, for 67-272, Application Design and Development.  
			
			<p>&nbsp;</p>
			<p>&nbsp;</p>
	</div>
</div>