<section id="parallax">
		<% if logged_in? && ( current_user.role?(:customer) ) %>
			<h2 class="p-5">Hello <%= current_user.customer.first_name %>, welcome to the <em style="color: #ffc107;">Baking Factory</em><br></h2>
		<% elsif logged_in? %>
			<h2 class="p-5">Hello <%= current_user.username %>, welcome to the <em style="color: #ffc107;">Baking Factory</em><br></h2>
		<% else %>
			<h2 class="p-5">Welcome to the <em style="color: #ffc107;">Baking Factory</em><br></h2>
		<% end %>
		<p>When Alex and Mark founded the Baking Factory in 2019, they did it with the<br>goal of bringing you the freshest possible bread.<br><br>
		The Baking Factory guarantees that each of our baked goods will be<br>made fresh at our mother location in Pittsburgh, PA.<br><br>
		<a href="items">Check out some of our goods here. </a></p>
</section>



<div style="width: 40%; margin-left: 40%; margin-top: 0; padding-top: 10px;">
	<h3>A word on</h3><h4 class="scroll-appear" style="color: #A9A9A9;">design.</h4><br>
	This application uses a color hierarchy.<br><br>
	High level actions and active queries are styled with <em style="color: #ffc107;">#FFC107</em>.<br>
	While form and pagination actions use <em style="color: #007bff">#007BFF</em>.<br><br><br>
	<h4>Log Ins:</h4>
	Admin: 'mark'<br>
	Shipper: 'shipper'<br>
	User: 'user12'<br><br>
	The password to each of the above usernames is <strong>'secret'</strong>


</div>