<section id="parallax">
		<% if logged_in? && ( current_user.role?(:customer) ) %>
			<h2 class="p-5">Hello <%= current_user.customer.first_name %>, welcome to the <em style="color: #ffc107;">Baking Factory</em><br></h2>
		<% elsif logged_in? %>
			<h2 class="p-5">Hello <%= current_user.username %>, welcome to the <em style="color: #ffc107;">Baking Factory</em><br></h2>
		<% else %>
			<h2 class="p-5">Welcome to the <em style="color: #ffc107;">Baking Factory</em><br></h2>
		<% end %>
		<p>When Alex and Mark founded the Baking Factory in 2019, they did it with the<br>goal of bringing you the freshest possible bread.<br><br>
		The Baking Factory guarantees that each of our baked goods will be<br>made fresh at our mother location in Pittsburgh, PA.<br><br>
		<a href="items">Check out some of our goods here. </a></p>
</section>



<div style="width: 40%; margin-left: 40%; margin-top: 0; padding-top: 10px; margin-bottom: 400px;">
	<h3>A word on <span style="color: #A9A9A9;">design</span>.</h3><br>
	This application uses a color hierarchy.<br><br>
	High level actions and active queries are styled with <em style="color: #ffc107;">#FFC107</em>.<br>
	While form and pagination actions use <em style="color: #007bff">#007BFF</em>.<br><br><br>
	<h4>Log Ins:</h4>
	Admin: 'mark' <span style="color: #A9A9A9;">--> Use for item management and descriptive statistics</span><br>
	Shipper: 'shipper' <span style="color: #A9A9A9;">--> for a list of items to bake</span><br>
	Baker: 'baker' <span style="color: #A9A9A9;">--> for a list of items to ship</span><br>
	User: 'user12' <span style="color: #A9A9A9;">--> to create an order in the system</span><br><br>
	The password to each of the above usernames is <strong>'secret'</strong><br><br>
	<h4>Fake Credit Card Numbers:<span style="color: #A9A9A9; font-size: .65em; font-style: normal;"> --> to purchase items</span></h4>
	Number: '4123456789012'<br>
	Expiration Month: '12'<br>
	Expiration Year: '2019'<br>

	<div style="margin-top: 50px;">
		<p style="font-size: 2em; font-weight: bold; color: #FFC107">#mk</p>
	</div>
</div>