<div class="row">
	<div class="col" style="margin: 5%;">
		<fieldset class="border mx-4 pl-3 mb-3">
        	<legend  class="w-auto">A &amp; M Bread Express Privacy Policy</legend><br>
			<p>Any information disseminated by, provided to, or nested within the source code of this application is completely fictitious, and subject to our review.<br>Deploy this webappp at your own risk!
				<br><br>
				It really be that simple.
			</p>
	</div>
</div>